html,body{
    margin: 0px;
    height: auto;
    width: 100%;
}
nav{
    position: fixed;
    z-index:2;
    width: 100%;
    height: 6em;
    background-color:  rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 25px #dedede;
}

#container-nav-bar{
    height: auto;
    background-color: transparent;
    width: 90%;
    display: flex;
}

#grid-containers{
    display:flex;
    height:auto;
    width: 100%;
    justify-content: right;
    line-height: 40px;
}

.grid{
    display: inline-table;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    height: 30px;
    margin-left: 5.5%;  
}

 .grid a{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 10pt;
    text-decoration: none;
}

#name {
    justify-content: left;
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 15pt;
    width: 40%;
    line-height: 40px;
}


.grid a:hover{
    color:rgb(77, 119, 161);
}
#image1{
    width: 100%;
    z-index: 1;
    position: relative;
    height: 600px;
    
}

header{
    height:auto;
    display: flex;
    align-items: end;
}
#container-info{
    width: 100%;
    display: flex;
}

#left-container{
    width: 50%;
    background-color: white;
    display: flex;
}

#right-container{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}



#name_info{
    font-size:21pt;
    color:rgb(86 86 86);
    font-family: Helvetica, Sans-Serif;

}

td{
    color: rgb(86 86 86);
    font-family: Helvetica, Sans-Serif;
    font-size:10pt;

}


#full-container{
    width: 942px;
    z-index: 1;
    height: calc(600px - 10%);
    position: absolute;
    display: flex;
    justify-content: center;
}



#bottom-full-container{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

table{
   width: 100%;
       margin-bottom: 7px;
       border-collapse: unset;

}

#sub-right-container{
    width: 85%;
    height: auto;
    display: inline-table;
    margin-left: 42px;
}

tbody{
    display: table;
}

.coloumn1{
    width: 20px;
    line-height: 1px;
}

#myself{
width: 100%;
}

#social{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    background-color:rgb(239 239 239);
}

#social-link{
    width: 942px;
    background-color: rgb(24 32 83);
    height: 70px;
    display:flex;
    justify-content: center;
}

#center-social-link{
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}

.social{
    width: 25px;
    height: 25px;
    margin-left:40px;
}


#description{
    width: 100%;
    background-color:rgb(239 239 239);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
}

#central-description{
 width:470px;
 height:auto;
 display:inline block;
 justify-content: center;
 word-break: break-word;
 background-color:rgb(239 239 239);

}

p{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 15pt;
    text-align: center;
}

#blue-name{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 20pt;
    text-align: center;
}
#experience{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 20pt;
    text-align: center;
}

.divider{
border-color:rgba(239, 239, 239 ,0.4);
margin-bottom: 5px;
}

.main-container{
    width: 100%;
    height: auto;
    display: inline-grid;
    justify-content: center;
    align-items: center;


}

.left-container{
 
    width: 45%;
    display: flex;
    justify-content: end;

}

.middle-container{

    width: 10%;
    display: flex;
    justify-content: center;

}

.middle-container ul{
    margin-top:-5px;
}

.middle-container ul li::marker{
    font-size: 30px;
}
.right-container{

    width: 45%;
    display: flex;
    justify-content:baseline;

}

.centered-container{
    width: 942px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.date-job{
    width: 380px;
    height: auto;
    display: flex;
    justify-content: end;
}

.description-job{
    width: 400px;
    height: auto;
    display: block;
}

.description-job p{
    text-align: initial;
    margin-top: 0;
}

.date-job p{
text-align: end;
margin-top: 0;
}


li{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 10pt;
}

li::marker{
    font-size:15px;
}

.vertical-line{
    width: 1px;
    position: absolute;
    height: 460px;
    background-color: rgb(24 32 83);
    margin-top: 17px;
}
#vertical-line-last{
    width: 1px;
    position: absolute;
    height: 460px;
    background-color: transparent;
    margin-top: 17px;   
}

#education{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line-education{
    width: 1px;
    position: absolute;
    height: 60px;
    background-color: rgb(24 32 83);
    margin-top: 17px;

}


#skills{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-table{
    width: 100%;
    margin-bottom: 7px;
    border-spacing: 128px 12px;
    margin-top: -24px; 
}

.table-container{
    width: 942px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.table-container td{
    color: rgb(24 32 83);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 15pt;
}


.table-container tbody{
    border:1px solid rgba(130, 130, 130, 0.3);
}

.subject{
    display: flex;
    margin-top: 25px;
}


.left-container-skill{
 
    width: 33%;
    display: flex;


}

.middle-container-skill{

    width: 33%;
    display: flex;
    
}

.right-container-skill{

    width: 33%;
    display: flex;

}

.digital-skill{
    width: 100%;
}

#vertical-line-education-last{
    width: 3px;
    position: absolute;
    height: 60px;
    background-color:transparent;
    margin-top: 17px;
    margin-right: -6px;   
}