nav{
    position: sticky;
    width: 100%;
    height: 6em;
    background-color:  rgb(238, 238, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-nav-bar{
    height: auto;
    background-color: transparent;
    width: 90%;
    display: flex;
}

#grid-containers{
    display:flex;
    height:auto;
    width: 100%;
    justify-content: right;
    line-height: 40px;
}

.grid{
    display: inline-table;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    height: 30px;
    margin-left: 5.5%;  
}

 .grid p{
    color: rgb(1 84 167);
    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 10pt;
}

#name {
    justify-content: left;
    color: rgb(1 84 167);

    font-family: Gill Sans, Gill Sans MT, Calibri,sans-serif;
    font-size: 15pt;
    width: 40%
}

