nav{
    position: sticky;
    width: 100%;
    height: auto;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-nav-bar{
    height: auto;
    background-color: transparent;
    width: 100%;
    
}

#grid-container{
    height:auto;
    width: 100%;
    justify-content: center;
    display: flex;

}

.grid{
    display: inline-table;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    height: 30px;
    margin-left: 1%;  
}

.grid p{
    color:white;
}